<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Welcome to your new Faliactyl dashboard, you can remove this by editing the /themes/YourFaliactylTheme/components/alert.ejs file.
</div>