<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Faliactyl 
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/create">
              <i class="material-icons">person</i>
              <p>Create a Server</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/servers">
              <i class="material-icons">content_paste</i>
              <p>Server List</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/store">
              <i class="material-icons">library_books</i>
              <p>Store</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/regen">
              <i class="material-icons">location_ons</i>
              <p>Regenerate</p>
            </a>
          </li>
          <% if (pterodactyl.root_admin == true) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <i class="ni ni-key-25 text-info"></i>
                <span class="nav-link-text">Admin</span>
                <i class="material-icons">bubble_chart</i>
              </a>
            </li>
          <% } %>

      </div>
    </div>
    <div class="main-panel">