<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <div class="logo"><a href="https://discord.gg/EDNRAxyVmn" class="simple-text logo-normal">
        Faliactyl 
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/create">
              <i class="material-icons">content_paste</i>
              <p>Create Server</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/settings">
              <i class="material-icons">location_ons</i>
              <p>Settings</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/afk">
              <i class="material-icons">person</i>
              <p>Afk Page</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/store">
              <i class="material-icons">library_books</i>
              <p>Purchase Resources</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/j4r">
              <i class="material-icons">library_books</i>
              <p>Join For Rewards</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/gift">
              <i class="material-icons">library_books</i>
              <p>Gift Resources</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/redeem">
              <i class="material-icons">library_books</i>
              <p>Redeem Coupon</p>
            </a>
          </li>
            <li class="nav-item ">
              <a class="nav-link" href="/panel">
                <i class="material-icons">person</i>
                <p>Panel</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">
                <i class="material-icons">person</i>
                <p>Logout</p>
              </a>
            </li>
            <% if (pterodactyl.root_admin == true) { %>
              <li class="nav-item">
                <a class="nav-link" href="/admin">
                  <i class="ni ni-key-25 text-info"></i>
                  <span class="nav-link-text">Admin</span>
                  <i class="material-icons">bubble_chart</i>
                </a>
              </li>
          <% } %>

      </div>
    </div>
    <div class="main-panel">